@import "tailwindcss";

@custom-variant dark (&:is(.dark *));

@layer utilities {
  .dark {
    color-scheme: dark;
  }
}

@theme {
  --color-plum-50: oklch(0.96 0.029 320.65);
  --color-plum-100: oklch(0.92 0.057 319.69);
  --color-plum-200: oklch(0.834 0.127 320.75);
  --color-plum-300: oklch(0.756 0.195 321.8);
  --color-plum-400: oklch(0.682 0.268 322.66);
  --color-plum-500: oklch(0.591 0.257 322.91);
  --color-plum-600: oklch(0.503 0.219 322.75);
  --color-plum-700: oklch(0.412 0.179 322.94);
  --color-plum-800: oklch(0.321 0.14 322.83);
  --color-plum-900: oklch(0.238 0.104 322.99);
  --color-plum-950: oklch(0.188 0.082 322.39);

  --color-ocean-50: oklch(0.966 0.017 247.99);
  --color-ocean-100: oklch(0.922 0.039 249.43);
  --color-ocean-200: oklch(0.843 0.082 244.51);
  --color-ocean-300: oklch(0.762 0.134 240.01);
  --color-ocean-400: oklch(0.685 0.148 237.31);
  --color-ocean-500: oklch(0.591 0.127 237.01);
  --color-ocean-600: oklch(0.504 0.109 237.7);
  --color-ocean-700: oklch(0.409 0.089 237.52);
  --color-ocean-800: oklch(0.316 0.069 237.35);
  --color-ocean-900: oklch(0.231 0.049 236.92);
  --color-ocean-950: oklch(0.176 0.038 235.69);
}

@theme inline {
  --color-background: var(--background);
}

:root {
  --backgroud: var(--color-ocean-800);
}

.dark {
  --backgroud: var(--color-ocean-800);
}

@layer base {
  body {
    @apply bg-ocean-800;
  }
}
